.venv/
env/
*.pyc
__pycache__/
.DS*
*.sqlite
.pytest_cache/
app/__pycache__/__init__.cpython-38.pyc
app/database/__pycache__/db.cpython-38.pyc
app/graph_utilities/__pycache__/graph_utils.cpython-38.pyc
