

/* Form Heading */
h1
{
  font-size: 35px;
  margin-bottom: 30px;
  color: #202124; /* Dark gray text */
  font-weight: 400;
  text-align: center; /* Ensures the text is centered */
  margin-top: 0; /* Optional: remove any default margin from the top */
}


/* Form Container */
.auth-form {
  background-color: white;
  padding: 40px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto; /* Centers the form */
}


/* Input Fields */
.auth-form input
{
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.2s;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}


/* Focused Input Field */
.auth-form input:focus
{
  outline: none;
  border-color: #1ae8b5; /* Google blue for focus */
}


.auth-form input::placeholder
{
  color: #80868b; /* Subtle gray placeholder text */
}